# Expression Recognition

# 1. Importing, exploring and cleaning ISEAR dataset

In [1]:
!git clone https://github.com/Bhattars1/MSc-Project-Expression-Recognition-

Cloning into 'MSc-Project-Expression-Recognition-'...
remote: Enumerating objects: 33, done.
remote: Counting objects: 100% (33/33), done.
remote: Compressing objects: 100% (29/29), done.
remote: Total 33 (delta 9), reused 16 (delta 2), pack-reused 0
Receiving objects: 100% (33/33), 4.72 MiB | 14.91 MiB/s, done.
Resolving deltas: 100% (9/9), done.

In [24]:
import pandas as pd
def upload_file(path):
  df = pd.read_excel(path, engine='openpyxl')
  print(df.head())
  print(df.info())
  return df

In [25]:
file_path = '/content/MSc-Project-Expression-Recognition-/DATA.xlsx'
df = upload_file(file_path)

       ID  CITY  COUN  SUBJ  SEX  AGE  RELI  PRAC  FOCC  MOCC  ...  SELF  \
0  101032     1    10    32    2   21     2     2     7     1  ...     3
1  101040     1    10    40    2   18     2     2     7     7  ...     1
2  261050     1    26    50    1   23     4     1     9     1  ...     0
3  101039     1    10    39    1   19     2     2     8     1  ...     0
4  101038     1    10    38    2   18     2     2     7     6  ...     0

   RELA  VERBAL  NEUTRO    MYKEY  Field3  Field2  Field1  \
0     0       3       0  1010323       2       2   anger
1     0       0       1  1010403       4       3   anger
2     0       0       1  2610503       4       3   anger
3     1       3       1  1010393       4       4   anger
4     1       3       2  1010383       3       4   anger

                                                 SIT  STATE
0  When a boy tried to fool me so he would be OK ...      1
1  I felt anger when I saw that I was being misle...      1
2  Once a friend had pushed me and I had fallen o...      1
3  When I was misleaded by a person who assured t...      1
4  I don't use to lie to my parets about what I d...      1

[5 rows x 42 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7666 entries, 0 to 7665
Data columns (total 42 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      7666 non-null   int64
 1   CITY    7666 non-null   int64
 2   COUN    7666 non-null   int64
 3   SUBJ    7666 non-null   int64
 4   SEX     7666 non-null   int64
 5   AGE     7666 non-null   int64
 6   RELI    7666 non-null   int64
 7   PRAC    7666 non-null   int64
 8   FOCC    7666 non-null   int64
 9   MOCC    7666 non-null   int64
 10  FIEL    7666 non-null   int64
 11  EMOT    7666 non-null   int64
 12  WHEN    7666 non-null   int64
 13  LONG    7666 non-null   int64
 14  INTS    7666 non-null   int64
 15  ERGO    7666 non-null   int64
 16  TROPHO  7666 non-null   int64
 17  TEMPER  7666 non-null   int64
 18  EXPRES  7666 non-null   int64
 19  MOVE    7666 non-null   int64
 20  EXP1    7666 non-null   int64
 21  EXP2    7666 non-null   int64
 22  EXP10   7666 non-null   int64
 23  PARAL   7666 non-null   int64
 24  CON     7666 non-null   int64
 25  EXPC    7666 non-null   int64
 26  PLEA    7666 non-null   int64
 27  PLAN    7666 non-null   int64
 28  FAIR    7666 non-null   int64
 29  CAUS    7666 non-null   int64
 30  COPING  7666 non-null   int64
 31  MORL    7666 non-null   int64
 32  SELF    7666 non-null   int64
 33  RELA    7666 non-null   int64
 34  VERBAL  7666 non-null   int64
 35  NEUTRO  7666 non-null   int64
 36  MYKEY   7666 non-null   int64
 37  Field3  7666 non-null   int64
 38  Field2  7666 non-null   int64
 39  Field1  7666 non-null   object
 40  SIT     7666 non-null   object
 41  STATE   7666 non-null   int64
dtypes: int64(40), object(2)
memory usage: 2.5+ MB
None

In [29]:
def filter_data(df, selected_columns):
  df_selected = df[selected_columns]
  print(df_selected.head(3))
  return df_selected

In [30]:
selected_columns = ["COUN", "SEX", "RELI", "PRAC", "FIEL", "Field1", "SIT"]
df_selected = filter_data(df, selected_columns)

   COUN  SEX  RELI  PRAC  FIEL Field1  \
0    10    2     2     2     2  anger
1    10    2     2     2     9  anger
2    26    1     4     1     1  anger

                                                 SIT
0  When a boy tried to fool me so he would be OK ...
1  I felt anger when I saw that I was being misle...
2  Once a friend had pushed me and I had fallen o...

In [33]:
def check_unique_values(df, selected_columns):
  for i in selected_columns[:-1]:
    unique = set(df[i])
    print(f"There are {len(unique)} unique values in {i}")
    print(f"They are listed below:\n{list(unique)}\n")
check_unique_values(df_selected, selected_columns)

There are 16 unique values in COUN
They are listed below:
[33, 1, 2, 4, 8, 9, 10, 12, 16, 17, 19, 20, 22, 26, 27, 30]

There are 3 unique values in SEX
They are listed below:
[0, 1, 2]

There are 9 unique values in RELI
They are listed below:
[0, 1, 2, 3, 4, 5, 6, 7, 8]

There are 3 unique values in PRAC
They are listed below:
[0, 1, 2]

There are 10 unique values in FIEL
They are listed below:
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

There are 7 unique values in Field1
They are listed below:
['guilt', 'sadness', 'joy', 'disgust', 'fear', 'anger', 'shame']

In [34]:
def data_and_labels(df, data, labels):
  data = df[data]
  labels = df[labels]
  return data, labels
data_column = "SIT"
label_column = "Field1"
data, labels = data_and_labels(df_selected, data_column, label_column)

In [42]:
len(labels), len(data)

(7666, 7666)

In [49]:
def check_unique_values(data):
  unique_expressions = list(set(labels))
  for i in unique_expressions:
    print(f"{i} : {list(labels).count(i)}")
check_unique_values(labels)

guilt : 1093
sadness : 1096
joy : 1094
disgust : 1096
fear : 1095
anger : 1096
shame : 1096